.scoopoption__main-col {
  text-align: center;
}

.scoopoption__img {
  width: 75%;
}

.scoopoption__group {
  margin-top: 10px;
}

.scoopoption__label {
  text-align: right;
}

.scoopoption__number {
  text-align: left;
}
